body {
	background: lightgrey;

	font-family: Ubuntu, serif;
}

.container {
	background: orange;
	width: 30em;
	text-align: center;
	padding: 5px;
	border-radius: 5px;
	border: solid black 3px;
	box-shadow: 1px 1px 3px 1px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

table {
	margin: auto;
	width: 100%;
}

table, thead, td {
	border-collapse: collapse;
	border: 2px solid black;
	background: lightblue;
}

td, thead {
	padding: 5px;
}

button {
	border: solid black 2px;
	border-radius: 5px;
	padding: 5px;
	box-shadow: 1px 1px;
}

button:active {
	box-shadow: none;
	background: lightgrey;
}
